<section 
  [id]="sectionId" 
  class="section"
  [class.in-view]="isInView"
  [class.presentation-mode]="presentationMode"
  [class.current-slide]="isCurrentSlide"
  [ngClass]="backgroundTheme">
  
  <!-- Background decorative elements -->
  <div class="ribbon-decoration ribbon-1" *ngIf="backgroundTheme"></div>
  <div class="ribbon-decoration ribbon-2" *ngIf="backgroundTheme"></div>
  <div class="ribbon-decoration ribbon-3" *ngIf="backgroundTheme"></div>
  <div class="hope-symbol symbol-1" *ngIf="backgroundTheme">💖</div>
  <div class="hope-symbol symbol-2" *ngIf="backgroundTheme">🌸</div>
  <div class="medical-pattern" *ngIf="sectionId === 'results' || sectionId === 'datasets'"></div>
  
  <div class="container">
    <div class="section-content" [ngClass]="animationClass">
      <h2 class="section-title" *ngIf="sectionTitle">{{ sectionTitle }}</h2>
      <ng-content></ng-content>
    </div>
  </div>
</section>
